<div class="divider"></div>
<div class="credit-container">
  <div class="cred"><span class="bold-class">Photographers:</span></div>
  <div class="cred"><span class="bold-class">Editors:</span>
    <br>RJ Mickelson  &bull; <a href="mailto:rmickelson@sfchronicle.com">rmickelson@sfchronicle.com</a>
    <br>Janny Hu  &bull; <a href="mailto:jhu@sfchronicle.com">jhu@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/janny_hu" target="_blank">@janny_hu</a>
    <br>Fernando Diaz  &bull; <a href="mailto:fdiaz@sfchronicle.com">fdiaz@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/thefuturewasnow" target="_blank">@thefuturewasnow</a>
  </div>
  <div class="cred"><span class="bold-class">Developers:</span>
    <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
    <br>Jackie Gu  &bull; <a href="mailto:jgu@sfchronicle.com">jgu@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/jqlngu" target="_blank">@jqlngu</a>
    <br>Kimberly Chua  &bull; <a href="mailto:kchua@sfchronicle.com">kchua@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/KimberlyAChua" target="_blank">@KimberlyAChua</a>
  </div>
</div>
