<div class="divider"></div>
<div class="credit-container">
  <div class="cred"><span class="bold-class">Photographers:</span>
    <br>Nicole Boliaux Paul Chinn, Carlos Avila Gonzalez, Gabrielle Lurie, Michael Macor, Santiago Mejia, Leah Millis, Scott Strazzante, Mason Trinca, Manjula Varghese
  </div>
  <div class="cred"><span class="bold-class">Photo Editors:</span>
    <br>Kat Duncan ,Nicole Fruge, RJ Michelson, Anna Sarpieri, Alex Washburn, Guy Wathen, Russell Yip
  </div>
  <div class="cred"><span class="bold-class">Reporters:</span>
    <br>Bruce Jenkins, Ann Killion, Ron Kroichick, Connor Letourneau, Scott Ostler
  </div>
  <div class="cred"><span class="bold-class">Editors:</span>
    <br>Janny Hu, Mike Lerseth, Al Saracevic
  </div>
  <div class="cred"><span class="bold-class">Copy Editing:</span>
    <br>David de la Fuente, Stephen Hornbostel, Mike Massa
  </div>
  <div class="cred"><span class="bold-class">Design and Development:</span>
    <br>Fernando Diaz, Kimberly Chua, Jackie Gu, Emma O’Neill, Lucio Villa
  </div>
</div>
