
<div class="dont-miss-hed">Don't Miss</div>

<section class="dont-miss">
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/season/" target="_parent">
        <img src="http://ww2.hdnux.com/photos/61/64/55/13097107/5/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/season/" target="_parent">
        <div>A season of sharing</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/playoffs/" target="_parent">
        <img src="http://ww2.hdnux.com/photos/61/64/55/13098805/5/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/playoffs/" target="_parent">
        <div>A chase for playoff perfection</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/finals/" target="_parent">
        <img src="http://ww2.hdnux.com/photos/61/64/55/13098317/5/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/finals/" target="_parent">
        <div>The Finals rematch</div>
      </a>
      </div>
    </div>
    <div class="story">
      <div class="padded">
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/fans/" target="_parent">
        <img src="http://ww2.hdnux.com/photos/61/64/55/13099539/5/premium_landscape.jpg"></img>
      </a>
      <a href="http://projects.sfchronicle.com/warriors-nba-champions/fans/" target="_parent">
        <div>A salute to Dub Nation</div>
      </a>
      </div>
    </div>
</section>
