

.container {
	margin-top: .5em;
	text-align: center;
	.flex-wrap(wrap);
	.display-flex;


}

.inline-img-jackie {
	.flex(0 0 25%);

	@media @tablet {
		.flex(0 0 50%);
	}

	@media @mobile {
		.flex(0 0 100%);
	}

	img {
		width: 100%;
	}
	padding-left: .5em;
	padding-right: .5em;
	margin: 1em auto;

	.gallery-title {
		font-family: @med-graphics;
	}

	.btn {
		font-family: @block-graphics;
		font-size: 16px;
	}
}

.header{

	text-align:center;
	// max-width:800px;
	padding:0 10px;
	margin:0 auto;
	img {
		width: 100%;
		margin-bottom: 1em;
	}

	@media @mobile {
		margin: 3em auto 0;
	}

	h1{
		margin: 0 auto;
		padding-bottom: 20px;
		font-size:90px;
		font-family: @bold-graphics;
		line-height:1;
		text-transform:uppercase;
		letter-spacing:3px;

		@media @tablet{
			font-size:50px;
		}
	}


	.deck{
		font-family:@med-graphics;
		font-size: 24px;
		padding-top: 1em;

		@media @tablet{
			font-size:18px;
			line-height:1.2;
		}
	}

	.date{
		margin-bottom:0;
	}
}

.caption{
  max-width: 900px;
	margin:0 auto;
	font-size:18px;
	font-family:@med-graphics;
	padding-top: 10px;
  text-align: center;
  @media @tablet {
    width: 80%;
  }
	@media @mobile {
    width: 100%;
    padding: 15px 10px 0px 10px;
    text-align: left;
		font-size: 15px;
	}
}
.vertical{
	max-width:500px;
}
.byline {
  font-family: @block-graphics;
  font-size: 14px;
  padding-left: 10px;
  @media @mobile {
    font-size: 13px;
  }
}

.img{
	margin: 5em auto 1em auto;
	@media @mobile {
		margin: 3em auto 0 auto;
	}
}

a {
	cursor: pointer;
}
